@if(item) {
<div>
    
    <div class="container">
        <div class="row align-items-center justify-content-between">
          <!-- Frame13 on the left -->
          <div class="col-auto">
            <div class="Frame13 d-flex flex-column align-items-start gap-2" style="width: 700px;">
              <div class="Label text-center" style="color: #3D3D3D; font-size: 40px; font-family: Roboto; font-weight: 500;">
                {{ item.title }}
              </div>
            </div>
          </div>
        </div>
    </div>


    <kendo-tabstrip (tabSelect)="onTabSelect($event)">
        <kendo-tabstrip-tab title="Form" [selected]="isTabSelected('form')">
            <ng-template kendoTabContent>
                <app-item-form [item]="item" (itemSaved)="onItemSaved($event)" (usersRequested)="onUsersRequested($event)"></app-item-form>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Tasks" [selected]="isTabSelected('tasks')">
            <ng-template kendoTabContent>
                <app-item-tasks [tasks$]="tasks$" (addNewTask)="onAddNewTask($event)" (updateTask)="onUpdateTask($event)"></app-item-tasks>
            </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab title="Schedule" [selected]="isTabSelected('schedule')">
            <ng-template kendoTabContent>
                <app-item-task-schedule [tasks$]="tasks$" (addNewTask)="onAddNewTask($event)" (updateTask)="onUpdateTask($event)"></app-item-task-schedule>
            </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab title="Chitchat" [selected]="isTabSelected('chitchat')">
            <ng-template kendoTabContent>
                <app-item-chitchat [comments$]="comments$" [currentUser]="currentUser$ | async" (addNewComment)="onAddNewComment($event)"></app-item-chitchat>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>

</div>
}